<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Nombre
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Fecha
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Especialización
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Tipo
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Observaciones
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-center"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <ng-container *ngIf="appointments$ | async as appointments; else noAppointments">
        <tr *ngFor="let appointment of appointments" class="hover:bg-gray-100 transition-all">
          <td class="px-6 py-4 whitespace-nowrap">{{ appointment.user_name }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ formatDate(appointment.date) }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ appointment.specialization }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ appointment.type }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ appointment.observations }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-center">
            <svg [routerLink]="['/cita', appointment.id]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-blue-600 cursor-pointer">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
            </svg>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-template #noAppointments>
  <p class="text-center text-gray-500 py-4">No tienes citas actualmente.</p>
</ng-template>
